<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>playground</title>
    <link rel="stylesheet" href="./playground.css">
</head>
<body>
    <div class="container">
        <header id="header">
        <img src="../src/Logo.svg" alt="">
            <div class="nav-list">
                <ul class="ul ul-1">
                    <li class="first">How It Works</li>
                    <li>Pricing</li>
                    <li>Features</li>
                </ul>
                <ul class="ul ul-2">
                    <li class="first">Industry <img src="../src/Vector 48.svg" alt=""></li>
                    <li>Resources<img src="../src/Vector 48.svg" alt=""></li>
                    <li>Login</li>
                </ul>
            </div>
     
                <a href="#" class="btn cr_acc">Create a free account</a>

             
            
    
        </header>
        <header id="header-mobile">
            <img src="../src/Mobile/email.png" alt="" >
                <div class="nav-list">
                    <ul class="ul ul-1">
                        <li class="first">How It Works</li>
                        <li>Pricing</li>
                        <li>Features</li>
                    </ul>
                    <ul class="ul ul-2">
                        <li class="first">Industry <img src="../src/Vector 48.svg" alt=""></li>
                        <li>Resources<img src="../src/Vector 48.svg" alt=""></li>
                        <li>Login</li>
                    </ul>
                </div>
         
                    <a href="#" class="btn cr_acc">Create a free account</a>
                    <img src="../src/Mobile/menu.png" alt="" >
        
            </header>
            </div>  
            <footer id="footer">

                <div class="popbox">
                   
                    <div class="btm"> <p>Ready to automate your mailing process?</p><h2>Improve your customer’s experience and start saving your employee’s time with the Switch API.</h2>
                        
                    </div>
                    <a href="#" class="btn btn5">
                        Create a Developer Account
                    </a>
                </div>
                <div class="main-footer">
                    <div class="main">
                        <div class="switchlogo"><img src="../src/Footer/Switch Logo.svg" alt=""></div>
                        <div class="list-box">   <div class="flist flist1">
                            <ul>
                                <li class="list-head">Resources</li>
                                <li><a href="">Blogs</a></li>
                                <li><a href="">USPS Information</a></li>
                                <li><a href="">Andrid App</a></li>
                                <li><a href="">Partnership</a></li>
                            </ul>
                        </div>
                        <div class="flist flist2">
                            <ul>
                                <li class="list-head">Trust Center</li>
                                <li><a href="">Privacy Policy</a></li>
                                <li><a href="">Terms & Conditions</a></li>
                                <li><a href="">Referral T&Cs</a></li>
                                
                            </ul>
                        </div>
                        <div class="flist flist3">
                            <ul>
                                <li class="list-head">About Us</li>
                                <li><a href="">Who We Are</a></li>
                                <li><a href="">Our Values</a></li>
                                <li><a href="">Partner With Us</a></li>
                          
                            </ul>
                        </div>
                        <div class="flist flist4">
                            <ul>
                                <li class="list-head">Support</li>
                                <li><a href="">FAQ’s</a></li>
                                <li><a href="">Contact Us</a></li>
                            </ul>
                        </div></div>
                        <div class="store">
                            <img src="../src/Mobile/Google Play Badge.svg" alt="">
                            <p>DOWNLOAD NOW</p>
                        </div>
                    </div>
                    <div class="fbottom">
                        <p>Switch is a trademark of Quadient, Inc. All rights reserved ©2021 Quadient, Inc.</p>
                        <div class="slist">
                            <img src="../src/Footer/Linkedin.svg" alt="">
                            <img src="../src/Footer/Twitter.svg" alt="">
                            <img src="../src/Footer/Facebook.svg" alt="">
                            <img src="../src/Footer/Instagram.svg" alt="">
                        </div>
                    </div>
                </div>
                
            </footer>
</body>
</html>